@use '../abstract/variaveis';
@use '../abstract/mixins';

header {
    background: variaveis.$gradient-primario;
    padding: 2rem;

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.6rem;

        .linha {
            border-top: 1px solid black;
            width: 80%;
        }

        ul {
            display: inline-flex;
            gap: 2rem;

            li {
                list-style: none;

                 a {
                    text-decoration: none;
                    @include mixins.ff-fs-cl(variaveis.$ft-textos, 1rem, variaveis.$cor-primaria);
                    font-weight: 500;

                    &:hover {
                        transition: 0.3s;
                        font-weight: 600;
                    }
                }
            }

           
        }
    }

    #home {
        max-width: 1040px;
        @include mixins.margem-central(80%);
        display: flex;
        align-items: center;
        justify-content: space-between;

        .textos-home {
            max-width: 464px;

            h1 {
                @include mixins.ff-fs-cl(variaveis.$ft-titulos, 42px, variaveis.$cor-primaria);
                margin-bottom: 2rem;

                span {
                    color: variaveis.$cor-secundaria;
                }
            }
        }

        .img-home {
            max-width: 474px;

             img {
                width: 100%;
             }
        }

        .btn-main {
            background-color: variaveis.$cor-secundaria;
            color: variaveis.$cor-white;
            border: none;
            padding: 1rem 3rem;
            border-radius: 40px;
            font-family: variaveis.$ft-textos;
            font-weight: 600;
            cursor: pointer;

            &:hover {
                opacity: 0.9;
                transition: color 0.3s;
            }
        }
    }
}